<template>
    <div>
        <h1>Dashboard</h1>
        <div class="card" v-for="user in users" :key="user.id">
            <div class="card-content">
                <h3>User: {{ user.name }}</h3>
                <h3>Pass: {{ user.password }}</h3>
                <h3>Slug: {{ user.slug }}</h3>
            </div>
        </div>
    </div>
</template>

<script>
    import db from '@/firebase/init'

    export default {
        name: 'Dashboard',
        
        data(){
            return{
                users: []
            }
        },

        // Kasutaja andmete kutsumine andmebaasist.

        created(){
            db.collection("users").get().then((querySnapshot) => {
                querySnapshot.forEach((doc) => {
                    let user = doc.data()
                    user.id = doc.id
                    this.users.push(user)
                });
            });
        }
    }
</script>

