<template>
    <div>
        <div class="row center-align">
            <div class="col s12 m6">
                <div class="card teal center">
                    <div class="card-content white-text">
                        <span class="card-title text-black">Login</span>
                        <form @submit.prevent = "Login">
                            <div class="input-field col s6">
                                <input placeholder="Kasutajanimi" type="text" v-model="name">
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="Parool" type="password" v-model="password">

                            </div>
                                <p v-show="feedback" class="red-text">Sa pead nime lisama</p>
                                <p v-show="feedbackPass" class="red-text">Sa pead parooli lisama</p>

                            <button class="btn orange">Login</button>
                        </form>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import firebase from "firebase";

    export default {
        name: 'Login',  
        data() {
            return{
                name: null,
                password: null,
                feedback: false,
                feedbackPass: false,
            }
        },
    
        methods: {
            Login(){
                this.feedback = null
                this.feedbackPass = null
                if(this.name){
                   
                    if(this.password){
                       
                        console.log('sobib')


                    } else{
                        this.feedbackPass = true
                    }


                } else{
                    this.feedback = true
                }


               
            } 
        },
    }     
      
</script>

<style>



</style>