<template>
    <div>

        <nav class="main-nav">
            <ul>
                <li><router-link to ="/">Login</router-link></li>
                <li><router-link :to ="{name: 'Register' }">Register</router-link></li>
                <li><router-link :to ="{ name: 'Dashboard' }">Dashboard</router-link></li>
                <li><router-link :to ="{name: 'Settings' }">Settings</router-link></li>

            </ul>
        </nav>
    </div>
</template>

<script>
    export default {
        
    }
</script>