<template>
  <div class="container">
        <div class="row center-align">
            <div class="col s12 m6">
                <div class="card teal center">
                    <div class="card-content white-text">
                        <span class="card-title text-black">Register</span>
                        <form @submit.prevent = "Register">
                            <div class="input-field col s6">
                                <input placeholder="Name" type="text" class="form-control"   v-model="name">
                            </div>
                            <div class="input-field col s6">
                                <input placeholder="E-mail" type="email" v-model="email">
                            </div>
                            <div class="input-field col s12">
                                <input placeholder="Password" type="password" v-model="password">
                            </div>
                                <p v-show="feedback" class="red-text">Sa pead nime lisama</p>
                                <p v-show="feedbackPass" class="red-text">Sa pead parooli lisama</p>
                                <p v-show="feedbackEmail" class="red-text">Sa pead emaili lisama</p>

                            <button class="btn orange">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import db from '@/firebase/init'
    import slugify from 'slugify'

    export default {
        name: 'Register',  
        data() {
            return{
                name: null,
                email: null,
                password: null,
                slug: null,
                feedback: false,
                feedbackEmail: false,
                feedbackPass: false,
            }
        },
        methods: {
            Register(){
                this.feedback = false,
                this.feedbackEmail = false,
                this.feedbackPass = false
                if(this.name){
                    if(this.email){
                        if(this.password){
                            // create slug with slugify
                        this.slug = slugify(this.name, {
                            replacement: '-',
                            remove: /[!@#$^&%*()+=-[]\/{}|:<>?,.]/g,
                            lower: true
                        })
                        db.collection('users').add({
                            name: this.name,
                            email: this.email,
                            password: this.password,
                            slug: this.slug
                        }).then(() => {
                            this.$router.push({ name: 'Dashboard'})
                        }).catch(err => {
                            console.log(err)
                        })
                        
                    } else {
                            this.feedbackPass = true
                        }
                    } else {
                        this.feedbackEmail = true
                    }
                } else{
                    this.feedback = true
                }     
            } 
        },
    }     
      
</script>