<template>

  <div id="app">
    <head>
    </head>
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from '@/components/Nav'
export default {
  name: 'app',
  components: {
    Navbar
  }
  
}

</script>

<style lang="scss">
</style>
